@CHARSET "UTF-8";


body {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  line-height: 1.8;
  font-weight: normal;
  color: gray;
  position: relative;
  z-index: 0;
  padding: 0;
  background-image: url("../../bg_img/bgimg (7).jpg");

}

body:after {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.header {
  font-size: 40px;
  font-stretch: wider;
  font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  font-size: xx-large;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000;
}

.bg-primary {
  background: #fbceb5 !important;
}

.ftco-section {
  text-align: center;
  padding: 325px 350px;
}


.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.login-wrap {}

.login-wrap h3 {
  font-weight: 400;
  color: #fff;
}



.form-group {
  position: relative;
}



.form-control {
  background: transparent;
  border: none;
  height: 50px;
  width: 350px;
  padding-left: 20px;
  padding-right: 20px;
  color: white !important;
  border: none;
  font-style: bold;
  font-size: 20px;
  text-align: left;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  margin-top: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  center: center;
  outline: none;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-style: bold;
  font-size: 20px;
  text-align: left;
}

button {
  background: #5EC75E !important;
  border: 1px solid #5EC75E !important;
  border: none;
  height: 50px;
  width: 400px;
  padding-left: 35px;
  padding-right: 35px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: white;
  border-radius: 40px;
  margin-top: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  center: center;
}

a {
  margin-top: 15px;
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  center: center;
  font-weight: 400;
}


a:hover {
  color: #D9B0A7
}

.index {
  padding-right: 65px;

}

.registerForm {
  padding-left: 65px;

}