@import url("move_style.css");

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {

  height: 70px;
  z-index: 997;
  transition: all 0.5s;
  padding: 10px 0;
  background: rgba(26, 24, 22, 0.85);
}


#header.header-scrolled {
  top: 0;
  background: rgba(26, 24, 22, 0.85);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    top: 0;
    background: rgba(26, 24, 22, 0.85);
  }
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: white;
  padding: 9px 14px;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
  color: #5EC75E;
  text-decoration: none;
}

.nav-menu .book-a-table a {
  background: #5EC75E;
  color: #fff;
  border-radius: 50px;
  margin: 0 0 0 20px;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
}

.nav-menu .book-a-table a:hover {
  background: #ffa012;
  color: #fff;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #433f39;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active>a,
.nav-menu .drop-down ul li:hover>a {
  color: #ffb03b;
}

.nav-menu .drop-down>a:after {
  content: "\ea99";
  font-family: 'Montserrat', sans-serif;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down>a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
  content: "\eaa0";
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }

  .nav-menu .drop-down .drop-down:hover>ul {
    left: -100%;
  }

  .nav-menu .drop-down .drop-down>a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #433f39;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
  color: #ffb03b;
  text-decoration: none;
}

.mobile-nav .book-a-table a {
  background: #ffb03b;
  color: #fff;
  border-radius: 50px;
  margin: 0 0 0 20px;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
  display: inline-block;
}

.mobile-nav .book-a-table a:hover {
  background: #ffa012;
  color: #fff;
}

.mobile-nav .drop-down>a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down>a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down>a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(39, 37, 34, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}


/*  navi css end   &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */



body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(../../assets/img/myp_back.jpg);
  background-size: cover;

}

form {
  margin-top: 140px;
  margin-left: 100px;
  margin-right: 140px;
  margin-bottom: 150px;
  min-width: 800px;
}


.top {

  color: rgb(255, 255, 255);
  margin-left: 40px;
  min-width: 300px;
  font-weight: 900;
  /* background-color: rgb(154, 201, 255); */
}

form .main {
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  /* background-color: rgb(153, 248, 169); */
}


.side {
  font-size: 20px;
  font-weight: bold;
  width: 250px;
  padding: 35px;
  text-align: center;
  background-color: rgb(66, 149, 242);
  color: rgb(0, 0, 0);


}

.preference {
  font-size: 23px;
  color: rgb(255, 255, 255);
  text-shadow: none;
}

.contents {

  padding: 20px 50px;
  width: 100%;
  background-color: rgb(101, 207, 255);

}

.like {
  margin-top: 100px;
  margin-bottom: 100px;
  /* background-color: rgb(255, 143, 143); */
}

#modifyButton {

  font-weight: bold;
  color: rgb(50, 191, 166);
  border-radius: 40px;
  border: 1.5px solid rgb(50, 191, 166);
  background-color: white;
  width: 180px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;

}

#withdraw {

  font-weight: bold;
  color: rgb(255, 0, 0);
  border-radius: 40px;
  border: 1.5px solid rgb(255, 0, 0);
  background-color: rgb(255, 143, 143);
  ;
  width: 180px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;

}



#modifyButton:hover,
#withdraw:hover {
  background-color: #fdb801;
  border: 1.5px solid #fdb801 !important;
  color: white;

}

.post {
  padding: 20px 0;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.myPostbox {

  padding: 20px;
  width: auto;
  background-color: rgb(255, 255, 255);
  border: 1px solid transparent;
  border-radius: 20px;
  color: rgb(50, 191, 166);


}

/*-------------------------------------------------------------*/
/*PROMOTION----------------------------------------------------*/
/*-------------------------------------------------------------*/
.notice .notice-line .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .notice-line .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
}

.notice .promotion {
  /*width: auto;*/
  height: 693px;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  overflow: hidden;
  transition: height .4s;
}

.notice .promotion.hide {
  height: 0;
}

.notice .promotion .swiper-container {
  /* 819px 슬라이드 3개와 그 사이 여백 10px씩 = 2477px */
  width: calc(819px * 3 + 20px);
  height: 553px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: calc((819px * 3 + 20px) / -2);
}

.notice .promotion .swiper-slide {
  position: relative;
  opacity: .5;
  transition: opacity 1s;
}

.notice .promotion .swiper-slide-active {
  opacity: 1;
}

.notice .promotion .swiper-slide .btn {
  /*width: 130px;*/
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.notice .promotion .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
  z-index: 0;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url("../img/promotion_slide_pager.png");
  width: 13px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../img/promotion_slide_pager_on.png");
}

.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  width: 42px;
  height: 42px;
  outline: none;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  /* Swiper Container 높이의 절반만큼 끌어올림 */
  /* 버튼 높이의 절반만큼 추가로 끌어올림 */
  top: 300px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}

.notice .promotion .swiper-slide .btn {

  color: #fff;
  text-shadow: 0 0 3px rgb(0, 0, 0);
  font-size: 40px;

}

.notice .promotion .swiper-slide .btn:hover {

  color: #5EC75E;
  text-shadow: 0 0 3px rgb(0, 0, 0);
  font-size: 40px;

}


.notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}

.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}

.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  background-color: #333;
  color: #fff;
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 50px;
  padding-top: 50px;
  color: rgba(255, 255, 255, 0.7);

}

#footer .container h2 {
  color: #5EC75E;
  font-size: 1.7em;


}
