@CHARSET "UTF-8";


body {

  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: #0d1e2d;
}

#container{
	font-size: 20px;
	margin: 0 auto;
	width: 80%;
	padding-top:5%;
	
}
 @import url(//fonts.googleapis.com/earlyaccess/hanna.css);
  


.header{
	margin: 150px 0px 0px 35px;
	font-family: 'Montserrat', sans-serif;
	}


#write #writeButton{
	font-weight: bold;
    border: 1px solid #5EC75E !important;
    background-color: white;
    width:70px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
	color: #5EC75E;
	border-radius: 40px;
		
}

#write #writeButton:hover{
	background-color: #fdb801;
	border: 1px solid #fdb801 !important;
	color:white;

}

#write{
	text-align: right;
	padding-bottom:10px;

}

table{
	width:100%;
	border-collapse: collapse;

}
table>thead{
	background-color: rgba(0,0,0,0.15);
	
	
	
	
}
table>thead>tr{
	text-align:center;
	height: 30px;
	align: center;
	border-bottom: 3px solid;
	border-bottom-color: rgba(0,0,0,0.2)
	
}
table>thead>tr>th{
	text-align:center;
	font-size: 15px;
	vertical-align : middle;
	font-weight:bold;
}

 table>tbody>tr>td{
 	text-align: center;
 	border: 1px solid;
 	border-color:rgba(0,0,0,0.15);
 	padding: 10px;
 	font-size: 15px;
 	vertical-align : middle;
 }
 
 table>tbody>tr{
  padding: 15px;
  }
  
 table>tbody>tr:nth-child(even) {
	background-color: rgba(94,199,94,0.1);
	}
  table>tbody>tr>#title{
 	text-align: left;
 }
 
.search{
	margin: 25px 20px 0px 35px;
	text-align: right;
	
}

.search #searchButton{
	font-weight: bold;
    border: 1px solid #5EC75E !important;
    background-color: white;
    width:70px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
	color: #5EC75E;
	border-radius: 40px;
		
}

.search #searchButton:hover{
	background-color: #fdb801;
	border: 1px solid #fdb801 !important;
	color:white;

}
 .search #searchContext{
 	width: 200px;
 	height: 26px;
 	outline: none;
 	border: 1px solid !important;
 	border-color: rgba(255,255,255,0.1);
    background-color: white;
    border-radius: 40px;
 	
 }

.search{
	text-align: right;
	padding-right:30px;
	font-size: 15px;
	margin-right:10%;
	

}

.boardfooter {
	background: rgba(0, 0, 0, 0.7);
	
	padding-bottom: 30px;
	color: rgba(255, 255, 255, 0.7);
	font-family: 'Montserrat', sans-serif;
	text-align:center;
	
}
.boardfooter #container h2{
	color: #5EC75E;
	font-size: 1.3em;
	padding-bottom:15px;
}

.boardfooter #copyright, #credits{
	color: rgba(255, 255, 255, 0.7);
	font-size: 0.7em;
	
}

footer{
		background: rgba(0, 0, 0, 0.7);
		margin:300px 0px 0px 0px;
		
		
}

.center {
	margin-bottom: 100px;
	text-align: center;
}
.paging {
	display: inline-block;
	center: center;
}

.paging a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

.paging a.active {
	background-color: #4CAF50;
	color: white;
	border-radius: 5px;
}

.paging a:hover:not {
	background-color: #ddd;
	border-radius : 5 px;
}

  