@CHARSET "UTF-8";


.boardfooter {
	background: rgba(0, 0, 0, 0.7);
	padding-bottom: 30px;
	color: rgba(255, 255, 255, 0.7);
	font-family: 'Montserrat', sans-serif;
	text-align:center;
	padding-top:30px;
}
.boardfooter #container h2{
	color: #5EC75E;
	font-size: 1.7em;
	padding-bottom:15px;
}

.boardfooter #copyright, #credits{
	color: rgba(255, 255, 255, 0.7);
	font-size: 0.7em;
	
}

footer{
		background: rgba(0, 0, 0, 0.7);
		margin:300px 0px 0px 0px;
		
		
}

body {

  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
 
 
}


.header{
	margin: 150px 0px 0px 35px;
	 font-family: 'Montserrat', sans-serif;
	
	}
	
	
.header #boardTitle{
	
	font-size: 30px;
    letter-spacing: 3px;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 3px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}

.header #boardTitle::after {
    background: #fdb801 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 300px;
}


.boardContainer{
	font-size: 25px;
	margin: 0 auto;
	width: 80%;
	padding-top:5%;
	
}


.boardContainer #postRegister #registerBtn{
 background: #5EC75E ;
    border: 1px solid #5EC75E; 
    border: none;
    height: 50px;
    width:400px;
    padding-left:35px;
  	padding-right:35px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
	color: white;
	border-radius: 40px;
	margin-top: 20px;
	-webkit-transition: 0.3s;
    -o-transition: 0.3s;
	transition: 0.3s; 
	center: center;
	
		
}


.boardContainer #postRegister #registerBtn:hover{
	background-color: white;
	border: 3px solid !important;
	border-color:#fdb801;
	color:#fdb801;				
}

.boardContainer #postRegister{
	padding:10px;
	text-align:center;
}

table{
	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width:100%	;
    height:500px;	
   
	
}

table>thead{
	font-size: 20px;
	padding: 10px;
	font-weight:600;
	border-bottom: 1px solid;
	border-bottom-color: rgba(0,0,0,0.2);
	margin-bottom:10px;
	
}
table>thead>tr>th{
	
	text-align:center;
	vertical-align: middle;
	
}

table>thead>tr{
	padding:10%;
	
}

table>thead>tr>th #ttl{
	border-radius: 40px;
	color:#fdb801;
	width:90%;
	ouline:none;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
	border: 3px solid !important;
	border-color:#fdb801;
		
}

table>thead>tr>th #ttl:focus{
	
	ouline:none;
	
		
}
table #tbodyrow{
	padding:10px;
	
	
}

table>tbody>tr>td>input{
	width:100%;
	margin-top: 40px;
	margin-bottom: 10px;
	border: 1px solid;
	border-color: rgba(0,0,0,0.2);
	border-style: groove;
	padding-left: 20px;
	padding-top: 30px;
	padding-bottom: 150px;
	border-spacing: 10px;
	height:500px;
	overflow: scroll;
}




  