@charset "UTF-8";

@import url("move_style.css");

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	height: 70px;
	z-index: 997;
	transition: all 0.5s;
	padding: 10px 0;
	background: rgba(26, 24, 22, 0.85);
}

#header.header-scrolled {
	top: 0;
	background: rgba(26, 24, 22, 0.85);
}

#header .logo h1 {
	font-size: 28px;
	margin: 0;
	line-height: 1;
	font-weight: 400;
	letter-spacing: 3px;
}

#header .logo h1 a, #header .logo h1 a:hover {
	color: #fff;
	text-decoration: none;
}

#header .logo img {
	padding: 0;
	margin: 0;
	max-height: 40px;
}

@media ( max-width : 992px) {
	#header {
		top: 0;
		background: rgba(26, 24, 22, 0.85);
	}
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-menu>ul>li {
	position: relative;
	white-space: nowrap;
	float: left;
}

.nav-menu a {
	display: block;
	position: relative;
	color: white;
	padding: 9px 14px;
	transition: 0.3s;
	font-size: 15px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
}

.nav-menu a:hover, .nav-menu .active>a, .nav-menu li:hover>a {
	color: #5EC75E;
	text-decoration: none;
}

.nav-menu .book-a-table a {
	background: #5EC75E;
	color: #fff;
	border-radius: 50px;
	margin: 0 0 0 20px;
	padding: 10px 25px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 1px;
	transition: 0.3s;
}

.nav-menu .book-a-table a:hover {
	background: #ffa012;
	color: #fff;
}

.nav-menu .drop-down ul {
	display: block;
	position: absolute;
	left: 0;
	top: calc(100% + 30px);
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	padding: 10px 0;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: ease all 0.3s;
}

.nav-menu .drop-down:hover>ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}

.nav-menu .drop-down li {
	min-width: 180px;
	position: relative;
}

.nav-menu .drop-down ul a {
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 500;
	text-transform: none;
	color: #433f39;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active>a,
	.nav-menu .drop-down ul li:hover>a {
	color: #ffb03b;
}

.nav-menu .drop-down>a:after {
	content: "\ea99";
	font-family: 'Montserrat', sans-serif;
	padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
	top: 0;
	left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover>ul {
	opacity: 1;
	top: 0;
	left: 100%;
}

.nav-menu .drop-down .drop-down>a {
	padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
	content: "\eaa0";
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	right: 15px;
}

@media ( max-width : 1366px) {
	.nav-menu .drop-down .drop-down ul {
		left: -90%;
	}
	.nav-menu .drop-down .drop-down:hover>ul {
		left: -100%;
	}
	.nav-menu .drop-down .drop-down>a:after {
		content: "\ea9d";
	}
}

/* Mobile Navigation */
.mobile-nav-toggle {
	position: fixed;
	right: 15px;
	top: 15px;
	z-index: 9998;
	border: 0;
	background: none;
	font-size: 24px;
	transition: all 0.4s;
	outline: none !important;
	line-height: 1;
	cursor: pointer;
	text-align: right;
}

.mobile-nav-toggle i {
	color: #fff;
}

.mobile-nav {
	position: fixed;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	z-index: 9999;
	overflow-y: auto;
	background: #fff;
	transition: ease-in-out 0.2s;
	opacity: 0;
	visibility: hidden;
	border-radius: 10px;
	padding: 10px 0;
}

.mobile-nav * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mobile-nav a {
	display: block;
	position: relative;
	color: #433f39;
	padding: 10px 20px;
	font-weight: 500;
	outline: none;
}

.mobile-nav a:hover, .mobile-nav .active>a, .mobile-nav li:hover>a {
	color: #ffb03b;
	text-decoration: none;
}

.mobile-nav .book-a-table a {
	background: #ffb03b;
	color: #fff;
	border-radius: 50px;
	margin: 0 0 0 20px;
	padding: 10px 25px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 1px;
	transition: 0.3s;
	display: inline-block;
}

.mobile-nav .book-a-table a:hover {
	background: #ffa012;
	color: #fff;
}

.mobile-nav .drop-down>a:after {
	content: "\ea99";
	font-family: IcoFont;
	padding-left: 10px;
	position: absolute;
	right: 15px;
}

.mobile-nav .active.drop-down>a:after {
	content: "\eaa1";
}

.mobile-nav .drop-down>a {
	padding-right: 35px;
}

.mobile-nav .drop-down ul {
	display: none;
	overflow: hidden;
}

.mobile-nav .drop-down li {
	padding-left: 20px;
}

.mobile-nav-overly {
	width: 100%;
	height: 100%;
	z-index: 9997;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(39, 37, 34, 0.6);
	overflow: hidden;
	display: none;
	transition: ease-in-out 0.2s;
}

.mobile-nav-active {
	overflow: hidden;
}

.mobile-nav-active .mobile-nav {
	opacity: 1;
	visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
	color: #fff;
}

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
						


#Listbutton{
 background: #5EC75E ;
    border: 1px solid #5EC75E; 
    border: none;
    height: 50px;
    width:400px;
    padding-left:35px;
  	padding-right:35px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
	color: white;
	border-radius: 40px;
	margin-top: 20px;
	-webkit-transition: 0.3s;
    -o-transition: 0.3s;
	transition: 0.3s; 
	margin-left:50%;
}
#Listbutton:hover{
	background-color: white;
	border: 3px solid !important;
	border-color:#fdb801;
	color:#fdb801;		
}
	/* Buttons end*/				

a { text-decoration:none !important }



	.description{
	font-size: 11pt;
	line-height: 2.3em;
	color: #4c4c4c;
	font-family: 'Nanum Gothic', sans-serif;
	height:300px;
	border : solid 3px #5EC75E;
	border-radius:25px;
	padding:0 20px 0 20px;
	
	
	}
	#content.h2{
		text-transform: uppercase;
		font-weight: bold;
		color: #4c4c4c;
		font-family: 'Nanum Gothic', sans-serif;
	}
	
	#sidebar{
	font-size: 11pt;
	line-height: 1.75em;
	color: #4c4c4c;
	font-family: 'Nanum Gothic', sans-serif;
	vertical-align: middle;
	padding:0 0 0 2%;
	width:391.66;
	
	}
		
	/* Change this to whatever font weight/color pairing is most suitable */



	/* Don't forget to set this to something that matches the design */


	a:hover
	{
		text-decoration: none;
	}
	
	sub
	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}
	
	sup
	{
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}
	
	hr
	{
		border: 0;
		border-top: solid 1px #ddd;
	}
	
	blockquote
	{
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}
	

	br.clear
	{
		clear: both;
	}


	
	/* Lists */



/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		position: relative;
		background: #fff;
	}


	

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Container */

	body {
		min-width: 1200px;
		
	}

	.container {
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}

	/* Modifiers */
	
		.container.small {
			width: 900px;
		}

		.container.big {
			width: 100%;
			max-width: 1500px;
			min-width: 1200px;
		}

/* Grid */

	/* Cells */

		.\31 2u { width: 100% }
		.\31 1u { width: 91.6666666667% }
		.\31 0u { width: 83.3333333333% }
		.\39 u { width: 75% }
		.\38 u { width: 66.6666666667% }
		.\37 u { width: 58.3333333333% }
		.\36 u { width: 50% }
		.\35 u { width: 41.6666666667% }
		.\34 u { width: 33.3333333333% }
		.\33 u { width: 25% }
		.\32 u { width: 16.6666666667% }
		.\31 u { width: 8.3333333333% }
		.\-11u { margin-left: 91.6666666667% }
		.\-10u { margin-left: 83.3333333333% }
		.\-9u { margin-left: 75% }
		.\-8u { margin-left: 66.6666666667% }
		.\-7u { margin-left: 58.3333333333% }
		.\-6u { margin-left: 50% }
		.\-5u { margin-left: 41.6666666667% }
		.\-4u { margin-left: 0% }
		.\-3u { margin-left: 25% }
		.\-2u { margin-left: 16.6666666667% }
		.\-1u { margin-left: 8.3333333333% }

		.row > * {
			float: right;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-o-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
		}

		.row + .row > * {
			padding-top: 50px;
		}

		.row {
			margin-left: -50px;
		}

	/* Rows */

		.row:after {
			content: '';
			display: block;
			clear: both;
			height: 0;
		}

		.row:first-child > * {
			padding-top: 0;
		}

		.row > * {
			padding-top: 0;
		}

		/* Modifiers */

			/* Flush */

				.row.flush {
					margin-left: 0;
				}

				.row.flush > * {
					padding: 0 !important;
				}

			/* Quarter */

				.row.quarter > * {
					padding: 12.5px 0 0 12.5px;
				}

				.row.quarter + .row.quarter > * {
					padding-top: 12.5px;
				}

				.row.quarter {
					margin-left: -12.5px;
				}

			/* Half */

				.row.half > * {
					padding: 25px 0 0 25px;
				}

				.row.half + .row.half > * {
					padding-top: 25px;
				}

				.row.half {
					margin-left: -25px;
				}

			/* One and (a) Half */

				.row.oneandhalf > * {
					padding: 75px 0 0 75px;
				}

				.row.oneandhalf + .row.oneandhalf > * {
					padding-top: 75px;
				}

				.row.oneandhalf {
					margin-left: -75px;
				}

			/* Double */

				.row.double > * {
					padding: 100px 0 0 100px;
				}

				.row.double + .row.double > * {
					padding-top: 100px;
				}

				.row.double {
					margin-left: -100px;
				}
				
			
			






/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		padding: 6em 0em 4em 0em;
	}
	
	#content img
	{
  		max-width:100%;
		height:600px;
	}
	
	#sidebar h2
	{
		display: block;
		padding-bottom: 0.75em;
		font-size: 1.4em;
		text-align:center;
		text-weight:bold;
		font-family: 'Montserrat', sans-serif;
		text-decoration: underline; 
		text-underline-position:under;
		
	}
	#sidebar img
	{
		max-width:100%;
		height: 450px ; 



	}
	

	.form-row {
 	 margin: 0 -15px; }

#sidebar a{
	
	display:block; 
	width:300; 
	position: relative;
}
.nearByRTR{
 	position: absolute;
 	width:330px;
	top:670px;
	float: center;
	

 }
 .nearByRTR h6{
 	text-align:center;
 }
 .nearByRTR a{
 	text-align:center;
 }
 .info
 {
 	position: absolute;
 	top:550px;
 	width:330px;
 	height:150px;
 	
 }
 .menu
 {
  	position: absolute;
  	float: center;
 	top:5px;
 	padding:0 ;
 }
 .bottomimg{
 	position:absolute;
 	top: 1200px;
 	margin-left:70px;
 	
 }
 .bottomimg img{
  	width:auto;
 	max-height:250px;
 	
 }
 .borderline{
 	line-height: 1.8em;
 	position:absolute;
 	top:160px;
 	width:368px;
 	height:927px;
 	border: solid 3px #fdb801;
	border-radius:25px;
	padding:0 1% 0 1%;
 
 }

/*  ###########################################################  */
#footer {
	background: rgba(0, 0, 0, 0.7);
	font-size: 15px;
	padding-bottom: 50px;
	padding-top: 50px;
	color: rgba(255, 255, 255, 0.7);
	font-family: 'Montserrat', sans-serif;
}

#footer .container h2 {
	color: #5EC75E;
	font-size: 1.7em;
}
/*********************************************************************************/
/* LikeButton                                                                          */
/*********************************************************************************/


#main-content {
  display: flex;
  background: white;
  float: right;
  
}

svg {
  cursor: pointer;
  overflow: visible;
  width: 60px;
}
svg #heart {
  transform-origin: center;
  animation: animateHeartOut .3s linear forwards;
}
svg #main-circ {
  transform-origin: 29.5px 29.5px;
}

#btn_like {
  display: none;
}


#btn_like:checked + label svg #main-circ {
  transition: all 2s;
  animation: animateCircle .3s linear forwards;
  opacity: 1;
}
#btn_like:checked + label svg #grp1 {
  opacity: 1;
  transition: .1s all .3s;
}
#btn_like:checked + label svg #grp1 #oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}
#btn_like:checked + label svg #grp1 #oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}
#btn_like:checked + label svg #grp2 {
  opacity: 1;
  transition: .1s all .3s;
}
#btn_like:checked + label svg #grp2 #oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}
#btn_like:checked + label svg #grp2 #oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}
#btn_like:checked + label svg #grp3 {
  opacity: 1;
  transition: .1s all .3s;
}
#btn_like:checked + label svg #grp3 #oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}
#btn_like:checked + label svg #grp3 #oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}
#btn_like:checked + label svg #grp4 {
  opacity: 1;
  transition: .1s all .3s;
}
#btn_like:checked + label svg #grp4 #oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}
#btn_like:checked + label svg #grp4 #oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}
#btn_like:checked + label svg #grp5 {
  opacity: 1;
  transition: .1s all .3s;
}
#btn_like:checked + label svg #grp5 #oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}
#btn_like:checked + label svg #grp5 #oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}
#btn_like:checked + label svg #grp6 {
  opacity: 1;
  transition: .1s all .3s;
}
#btn_like:checked + label svg #grp6 #oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}
#btn_like:checked + label svg #grp6 #oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}
#btn_like:checked + label svg #grp7 {
  opacity: 1;
  transition: .1s all .3s;
}
#btn_like:checked + label svg #grp7 #oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}
#btn_like:checked + label svg #grp7 #oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}
#btn_like:checked + label svg #grp2 {
  opacity: 1;
  transition: .1s opacity .3s;
}
#btn_like:checked + label svg #grp3 {
  opacity: 1;
  transition: .1s opacity .3s;
}
#btn_like:checked + label svg #grp4 {
  opacity: 1;
  transition: .1s opacity .3s;
}
#btn_like:checked + label svg #grp5 {
  opacity: 1;
  transition: .1s opacity .3s;
}
#btn_like:checked + label svg #grp6 {
  opacity: 1;
  transition: .1s opacity .3s;
}
#btn_like:checked + label svg #grp7 {
  opacity: 1;
  transition: .1s opacity .3s;
}

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #DD4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #D46ABF;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #CC8EF5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: 0;
  }
}
@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}